@page "/"

<PageTitle>Erick Vanjoeff Misoles | Software Engineer</PageTitle>

<main class="container">
    <Hero />
    <ProjectsSection />
    <Contact />
</main>

<footer class="footer">
    <div class="container">
        <p>&copy; @DateTime.Now.Year Erick Vanjoeff Misoles. All rights reserved.</p>
    </div>
</footer>
